aula 09/Fazer Agendamento Cal.com.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Fazer Agendamento Cal.com
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 0b37cc43-2f72-400c-98ba-47b759c3cdfe
    name: eventTypeId
    value: 1261151
    value_type: number
  - description: ''
    id: 305ab00f-8485-4d5c-9cab-da33fa0460a7
    name: apikey
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729813844568-source-1729814183580-target
      source: '1729813844568'
      sourceHandle: source
      target: '1729814183580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1729814183580-source-1729815366957-target
      source: '1729814183580'
      sourceHandle: source
      target: '1729815366957'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: Slot de data selecionada para o agendamento
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataslot
        - label: Nome completo
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: nome
        - label: email
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: email
        - label: telefone no formato (XX) XXXXX-XXXX
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: telefone
      height: 167
      id: '1729813844568'
      position:
        x: 10
        y: 57
      positionAbsolute:
        x: 10
        y: 57
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1
            key: ''
            type: text
            value: "{\n  \"start\": \"{{#1729813844568.dataslot#}}\",\n  \"eventTypeId\"\
              : {{#env.eventTypeId#}},\n  \"attendee\": {\n    \"name\": \"{{#1729813844568.nome#}}\"\
              ,\n    \"email\": \"{{#1729813844568.email#}}\",\n    \"timeZone\":\
              \ \"America/Cuiaba\",\n    \"language\": \"pt-BR\"\n  },\n  \"guests\"\
              : [],\n  \"meetingUrl\":\"http://unemat.br\",\n  \"location\": \"http://unemat.br\"\
              ,\n\"bookingFieldsResponses\": {\n    \"customField\": \"{{#1729813844568.telefone#}}\"\
              \n }\n}"
          type: json
        desc: ''
        headers: 'Authorization:Bearer {{#env.apikey#}}

          cal-api-version:2024-08-13'
        method: post
        params: ''
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v2/bookings
        variables: []
      height: 109
      id: '1729814183580'
      position:
        x: 328
        y: 87
      positionAbsolute:
        x: 328
        y: 87
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729814183580'
          - body
          variable: result
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1729815366957'
      position:
        x: 662.4521531730093
        y: 122.97648230295363
      positionAbsolute:
        x: 662.4521531730093
        y: 122.97648230295363
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 124.24919490186653
      y: 100.91437148635163
      zoom: 1
